/*---------------------------font setup--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
:root {
  --primary: #3155e7;
  --primary-dark: #2045d6;
  --black: #010101;
  --gray-1: #788190;
  --gray-2: #d3d4db;
  --white: #ffffff;
  --body: #fefefe;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--body);
}
.btn {
  border-radius: 8px;
}
.btn-primary,
.btn-outline-secondary {
  padding: 12px 20px;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primary-dark);
}
.btn-outline-secondary {
  border: 1px solid var(--gray-2);
  color: var(--black);
}
.btn-outline-secondary:hover {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}
.btn-outline-secondary:focus {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.navbar .btn-outline-secondary {
  border: 1px solid var(--gray-2);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 20 px;
  padding: 10px 16px;
}
.navbar {
  padding: 32px 0;
}
.nav-link {
  margin-left: 41px;
  font-size: 16px;
  color: var(--gray-1);
}
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var(--black);
}
section.hero {
  padding: 80px 0;
}
section.hero .text {
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
  color: var(--black);
}
.buttons{
  padding-top: 69px;
}
.buttons .btn{
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
section.setup{
  padding: 287px 0;
}
section.setup .text-header h3{
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color:var(--black);
  
}
section.setup .text-header p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color:var(--gray-1);
  padding: 27px 0;
  
}
section.setup .icons{
  padding: 27px 0;
  margin-left: 20px;
}
section.setup h5{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:var(--black);
  padding-bottom:18px;
}
section.setup .desc p{
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color:var(--gray-1);
  max-width: 284px;
  margin:0 auto;
}
.p{
  text-align: center;
}
section.information .text-info{
  padding: 134px 0;
}
section.information h5{
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color:var(--black);

}
section.information p{
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color:var(--gray-1);
  padding-top: 20px;

}
section.informaton  .info-1{
  padding: 183px 0;
}